body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

hr {
    border-color: rgba(183, 183, 183, 0.604);
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo img {
    width: 150px;
}

.tontons-friteurs p {
    text-align: left;
    font-size: 14px;
    display: flex;
}

h1, .devFactTitle {
    text-align: center;
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
select {
    width: calc(100% - 10px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#resultats {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Style du tableau */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

/* Style des cellules d'en-tête */
th {
    background-color: #f2f2f2;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Style des cellules de données */
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/*Style boutons devis facture*/

.buttonDevFact{
    display: flex;
    justify-content: space-around;
}

/* Ajouts pour rendre le site responsive uniquement sur les smartphones */

@media only screen and (max-width: 767px) {
    /* Appliquez ces styles uniquement sur les écrans ayant une largeur maximale de 767px (typiquement smartphones) */

    .container {
        max-width: 95%; /* Redimensionne la largeur maximale pour les petits écrans */
        padding: 10px; /* Réduit l'espacement autour du contenu */
    }

    .logo img {
        max-width: 100%; /* Permet à l'image du logo de s'adapter à la largeur de son conteneur */
        height: auto; /* Garantit le bon rapport hauteur/largeur de l'image */
        width: auto\9; /* Correction pour IE9 */
    }

    .tontons-friteurs p {
        font-size: 12px; /* Réduit légèrement la taille de la police pour les smartphones */
    }

    h1, .devFactTitle {
        font-size: 24px; /* Augmente la taille de la police pour les titres sur les smartphones */
    }

    form {
        margin-bottom: 10px; /* Réduit l'espacement entre le formulaire et le reste du contenu */
    }

    input[type="text"],
    input[type="number"],
    select {
        width: 100%; /* Permet aux champs de saisie de prendre toute la largeur disponible */
    }

    button {
        width: 100%; /* Permet aux boutons de prendre toute la largeur disponible */
    }

    #resultats {
        padding: 10px; /* Réduit l'espacement à l'intérieur de la zone de résultats */
    }

    /* Réduit la taille du texte dans le tableau pour une meilleure lisibilité sur les smartphones */
    th, td {
        font-size: 14px;
    }
}

